@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Test GSI 2025</h1>
    </section>

    <div class="row">
        <section class="col-md-12">
            <p>@Html.ActionLink("Test GSI", "Index", "TestGSI", new { area = "TestArea" }, new { @class = "btn btn-primary btn-md" })</p>
        </section>
    </div>
</main>